html{
    width: 100%;
}
body {
    width: 100%;
    font-family: Arial, sans-serif;
}
/***header***/
.logo_sony {
    width: 80px;
}
.nav_link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    color: black;
    transition: 1s;
}
.nav_link:hover {
    color: #0d6efd;
    ;
}
.bt_accedi {
    display: block;
    padding: .5rem 1rem;
    background-color: rgba(54, 54, 54, 1);
    border-radius: 26px;
}
.bt_accedi a {
    color: white;
    text-decoration: none;
}
.fa-search{
    display: block;
    padding: .6rem 1rem;
    font-size: 20px;
    color: black;
}
/***main***/
/**jumbo**/
.hero {
    height: 675px;
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
    overflow-x: hidden;
}
.box {
    width: 300px;;
    margin: 3rem;
}
.logo_returnal{
    width: 170px;
}
.title h1 {
    color: white;
    font-size: 31px;
    margin: 1.5rem 0rem;
}
.text p {
    color: white;
    font-size: 15px;
}
.bt_acquista a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    background-color: rgba(205, 61, 15, 1);
    padding: 0.5rem;
    border-radius: 15px;
}
/**image game**/
.img_game {
    display: block;
    margin-inline: auto;
    width: 150px;
    border-radius: 18px;
    margin-bottom: 2rem;
}
.mg_3 {
    margin: 3rem 0rem;
}
.cl_border {
    border: 3px solid;
    border-color: rgba(81, 159, 222, 1);
}
.play p {
    margin: 0;
    font-size: 15px;
    text-align: center;
    color: rgba(60, 147, 217, 1);
}
.play h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}
.play_due p {
    color: rgba(139, 139, 139, 1);
    text-align: center;
}
.play5 {
    width: 350px;
}
.px_4 {
    padding-left: 4rem;
}
.card_link {
    color: white;
    text-decoration: none;
    background-color: rgba(45, 100, 230, 1);
    border-radius: 20px;
    padding: 0.5rem;
}
.card-body h5 {
    font-size: 30px;
    margin-bottom: 2rem;
}
.card-body p {
    margin-bottom: 2rem;
}
.image_play {
    width: 150px;
    border-bottom: 3px solid rgba(45, 100, 230, 1);
}
.img_play {
    width: 150px;
    filter: opacity(0.5);
}
.hero_two {
    height: 515px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size:cover;
}
.new {
    padding: 0.5rem 2rem;
    background-color: rgba(31, 31, 31, 1);
}
.white  {
    color: white;
}
.img_new {
    width: 125px;
    
    border-radius: 20px;
}
.card_style {
    background-color: rgba(31, 31, 31, 1);
    border: transparent;
    margin-bottom: 2rem;
}
.card_title {
    font-size: 13px;
    margin-top: 0.5rem;
}
.card_text {
    color: rgba(154, 154, 154, 1);
}
.hero_three {
    background-color: rgba(190, 188, 187, 1);
}
.black {
    color: black;
}
.logo_plus {
    width: 300px;
    margin-bottom: 3rem;
}
.box_plus {
    width: 480px;
    margin: 3rem;
}
.bt_esplora {
    margin-top: 2rem;
}
.bt_esplora a {
    text-decoration: none;
    background-color: rgba(217, 218, 220, 1);
    border-radius: 20px;
    padding: 0.5rem;
}
.img_store {
    width: 210px;
    margin-bottom: 2rem;
}
.hero_four {
    background-color:rgba(22, 28, 59, 1)
}
.logo_playstation {
    width: 300px;
    margin-bottom: 2rem;
}
.bt_esplora_two a{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 0.5rem;

}
/***footer***/
.style_foot {
    background-color: rgba(0, 67, 156, 1);
    padding: 4rem 3rem;
}
.lenguage p {
    margin: 0 10px;
    color: white;
    font-size: 10px;
}
.lista {
    color: white;
    list-style: none;
    font-size: 14px;
}
.logo_sie {
    width: 100px;
}
.testo {
    margin-top: 10px;
    color: white;
    font-size: 12px;
}