body {
    font-family: Arial, sans-serif;
}
/***header***/
.logo_sony {
    width: 60px;
}
.nav_link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    color: black;
    transition: 1s;
}
.nav_link:hover {
    color: #0d6efd;
    ;
}
.bt_accedi {
    display: block;
    padding: .5rem 1rem;
    background-color: rgba(54, 54, 54, 1);
    border-radius: 26px;
}
.bt_accedi a {
    color: white;
    text-decoration: none;
}
.fa-search{
    display: block;
    padding: .6rem 1rem;
    font-size: 20px;
    color: black;
}
/***main***/
/**jumbo**/
.hero {
    height: 675px;
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
}
.box {
    width: 300px;;
    margin: 3rem;
}
.logo_returnal{
    width: 170px;
}
.title h1 {
    color: white;
    font-size: 31px;
    margin: 1.5rem 0rem;
}
.text p {
    color: white;
    font-size: 12px;
}
.bt_acquista a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    background-color: rgba(205, 61, 15, 1);
    padding: 0.5rem;
    border-radius: 15px;
}
/**image game**/
.img_game {
    width: 220px;
    border-radius: 18px;
}
.mg_3 {
    margin: 3rem;
}
.cl_border {
    border: 3px solid;
    border-color: rgba(81, 159, 222, 1);
}